#popup-container {
    position: absolute;
    left: 0;
    height: 100%;
    transition: left .5s ease;
}

@media all and (max-width: 1000px) {
    #popup-container {
        height: unset;
        left: unset;
        width: 100%;
        top: 0;
        transition: top .5s ease;
    }
}

#popup {
    width: 100%;
    min-height: 100%;
    background-color: var(--closer-background);
    box-shadow: -0.5rem 0 .3rem rgba(0, 0, 0, 0.07);
}

#popup-header {
    width: 100%;
    height: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 .5rem .5rem rgba(0, 0, 0, 0.05);
}

#popup-title {
    font-size: 1.6rem;
    font-weight: normal;
    text-decoration: none;
}

#popup-header-separator {
    flex-grow: 1;
}

.popup-close {
    width: 2rem;
    height: 2rem;
    padding: 0.5rem;
    cursor: pointer;
}

#popup-body {
    margin: 1rem;
}

#popup-body>section {
    margin-bottom: 1.5rem;
}

#popup-body>section>h4 {
    font-weight: bold;
    font-size: 1.2rem;
}

#popup-body>section>p {
    margin: .4rem 0;
}

#popup-color-picker {
    margin-top: .7rem;
    background-color: var(--day);
    position: relative;
}

#popup-color-picker>div {
    min-height: 5rem;
    border-radius: 0.3rem;
}

#popup-color-input {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    opacity: 0;
    cursor: pointer;
}

:root[data-theme="dark"] #popup-header, :root[data-theme="dark"] #popup {
    border-top: 1px solid #555;
    border-bottom: 1px solid #555;
    box-shadow: unset;
}

@media screen and (min-width: 1001px) {
    :root[data-theme="dark"] #popup {
        box-sizing: border-box;
        border-left: #555 solid 1px;
    }
}

:root[data-theme="dark"] #popup img {
    filter: invert(1);
}
