#popup-container {
    position: absolute;
    left: 0;
    height: 100%;
    transition: left .5s ease;
}

@media all and (max-width: 1000px) {
    #popup-container {
        height: unset;
        left: unset;
        width: 100%;
        top: 0;
        transition: top .5s ease;
    }
}

#popup {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    background-color: var(--closer-background);
    box-shadow: -0.5rem 0 .3rem rgba(0, 0, 0, 0.07);
}

#popup-header {
    width: 100%;
    height: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 .5rem .5rem rgba(0, 0, 0, 0.05);
}

#popup-title {
    font-size: 1.6rem;
    font-weight: normal;
    text-decoration: none;
}

#popup-header-separator {
    flex-grow: 1;
}

.popup-close {
    width: 2rem;
    height: 2rem;
    padding: 0.5rem;
    cursor: pointer;
}

#popup-body {
    margin: 1rem;
}

#popup-body>section {
    margin-bottom: 1.5rem;
}

#popup-body>section>h4 {
    font-weight: bold;
    font-size: 1.2rem;
}

#popup-body>section>p, #popup-body>#popup-friends-unfolded>div {
    margin: .4rem 0;
}

#popup-color-picker {
    margin-top: .7rem;
    background-color: var(--day);
    position: relative;
}

#popup-color-picker>div {
    min-height: 5rem;
    border-radius: 0.3rem;
}

#popup-color-input {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    opacity: 0;
    cursor: pointer;
}

/* Loading animation for comments */

#popup #waiting-screen {
    padding: 0;
    flex-direction: row;
    justify-content: center;
}

#popup #waiting-screen-message {
    font-size: 1rem;
    margin: 0;
}

#popup .lds-ring {
    width: 70px;
    height: 70px;
}

#popup .lds-ring>div {
    width: 48px;
    height: 48px;
}

/* Dark theme */

:root[data-theme="dark"] #popup-header, :root[data-theme="dark"] #popup {
    border-top: 1px solid #555;
    border-bottom: 1px solid #555;
    box-shadow: unset;
}

@media screen and (min-width: 1001px) {
    :root[data-theme="dark"] #popup {
        box-sizing: border-box;
        border-left: #555 solid 1px;
    }
}

:root[data-theme="dark"] #popup-header img {
    filter: invert(1);
}

/* Friend counter */

#popup-friends-folded {
    display: flex;
    align-items: center;
}

#popup-friend-pictures {
    display: flex;
    padding-right: 1rem;
    margin-right: .5rem;
}

#popup-friend-pictures>div {
    height: 2rem;
    width: 1.3rem;
    position: relative;
}

#popup-friend-pictures>div>div, .popup-friend>div {
    height: 2rem;
    width: 2rem;
    border-radius: 1rem;
    border: 1px solid var(--border-color);
    background-color: var(--closer-background);
    overflow: hidden;
}

#popup-friend-pictures>div>div>img, .popup-friend>div>img {
    padding: 0.293rem; /* Source: https://media.discordapp.net/attachments/939245180077375538/1068655103629852764/20230127_231310.jpg */
    height: 1.414rem;
    width: 1.414rem;
}

.popup-friend {
    display: flex;
    align-items: center;
    margin-bottom: .5rem;
}

.popup-friend>div {
    margin-right: .5rem;
}
