#friends {
    width: calc(100% - 2rem);
    margin: 0 1rem;
    --border-color: #aaa; /* cf surveys.css */
}

:root[data-theme="dark"] #survey {
    --border-color: #666;
}

#friends>section {
    margin: 1rem 0;
}

#friends>section>h3 {
    margin: 0;
    margin-bottom: .5rem;
    font-size: 1.2rem;
    font-weight: 500;
}

#friends>section>div {
    background-color: var(--day);
    border: 1px solid var(--border-color);
    border-radius: .25rem;
}

.friend-list>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .3rem .5rem;
    border-bottom: 1px solid var(--border-color);
}

.friend-list>div:last-child {
    border-bottom: none;
}

.friend-list>div>div>img {
    width: 2rem;
    height: 2rem;
    margin-right: .3rem;
}

.friend-list>div>div {
    display: flex;
    align-items: center;
}

.friends-agenda-button, .friends-cancel-button {
    all: unset;
    border: 1px solid var(--primary);
    color: var(--primary);
    cursor: pointer;
    padding: 0.3rem;
    padding-bottom: 0.2rem;
    font-size: .9rem;
    border-radius: 0.3rem;
}

.friends-cancel-button {
    border: 1px solid var(--border-color);
    color: var(--border-color);
}

.friends-deny-button, .friends-accept-button {
    all: unset;
    cursor: pointer;
    width: 1.7rem;
    height: 1.7rem;
    box-sizing: border-box;
    border-radius: 0.85rem;
}

.friends-deny-button>img, .friends-accept-button>img {
    width: 100%;
    aspect-ratio: 1 / 1;
}

.friends-accept-button {
    margin-left: .5rem;
    border: 1px solid #4caf50;
}
.friends-accept-button>img {
    width: 80%;
    padding: 10%;
}

.friends-deny-button {
    border: 1px solid #f44336;
}
.friends-deny-button>img {
    width: 60%;
    padding: 20%;
}
