:root[data-theme="dark"] #survey {
    --border-color: #666;
}

.notification {
    margin: .5rem;
    border-radius: .5rem;
    min-height: 4rem;
    display: flex;
    align-items: center;
}

.unseen-notification {
    background-color: var(--day);
}

.notification-point {
    height: 0.6rem;
    width: 0.6rem;
    margin: 0 0.5rem;
    border-radius: 0.3rem;
    flex-shrink: 0;
}

.unseen-notification>.notification-point {
    background-color: var(--primary);
}

.notification>img {
    width: 3rem;
    margin-right: 0.5rem;
}

.notification>div:last-child {
    flex-grow: 1;
    padding: .5rem 0;
}

.notification>div>button {
    margin-top: .2rem;
}
