.comment {
    margin-top: 1rem;
}

:root[data-theme="dark"] #popup .comment img {
    filter: unset;
}

.comment-header {
    display: flex;
    align-items: center;
    margin-bottom: .1rem;
}

.comment-author-avatar {
    width: 2rem;
    height: 2rem;
}

.comment-author-name {
    margin: 0 .6rem 0 .25rem;
}

.comment-time {
    font-size: .8rem;
    color: #777;
}

.comment-bottom {
    display: flex;
}

.comment-bar {
    width: 1px;
    background-color: black;
    margin: 0 1rem;
}

.comment-upvoted>.comment-upvote-button>svg {
    fill: var(--primary);
}
.comment-downvoted>.comment-downvote-button>svg {
    fill: var(--error-red);
}

.comment-buttons {
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
}

.comment-reply-button:hover {
    background-color: #ddd;
}

:root[data-theme="dark"] .comment-reply-button:hover {
    background-color: #222;
}

.comment-score {
    margin: 0 .2rem;
}

.comment-reply-button {
    /* Also see friends-cancel-button */
    border: 1px solid var(--text);
    padding-left: .75rem;
    padding-right: .75rem;
    color: var(--text);
    margin-left: 1rem;
}
