.force-click {
    width: 100%;
    height: 100%;
    background: var(--background);
    display: flex;
    position: fixed;
}

.center-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 80%;
    margin: auto;
}

.force-click #title {
    color: var(--text);
    font-size: 2.1rem;
}

.force-click #subtitle {
    color: var(--text);
    font-size: 1.2rem;
    margin-bottom: 10rem;
}

#title, #subtitle {
    margin: 0 1rem;
}

.to-click {
    font-size: 1.3rem;
    color: var(--primary);
    text-decoration: underline;
    display: flex;
    margin: 0.5rem;
}

.to-click img {
    height: 1.5rem;
    margin-right: 1rem;
}
