#announcement {
    box-shadow: 0px 3px 6px #00000029;
    position: relative;
    background-color: var(--day);
}

/* Mobile only */

#agenda-main > #announcement {
    height: 0;
}

.show-announcement #announcement {
    flex-grow: 1;
}

/* Text announcement on mobile and desktop */

.show-announcement .text-announcement {
    padding: .5rem 1rem;
    overflow-y: auto;
}

.show-announcement .text-announcement>div {
    font-size: 1.1rem;
    font-weight: bold;
}

/* Close button */

#close-announcement-button {
    position: absolute;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    top: 0;
    right: 0;
}

#close-announcement-button:hover, #close-announcement-button:active {
    fill: red;
}
