/* Header */

#calendar-header {
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#calendar-header > div {
    height: 4rem;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    cursor: pointer;
    user-select: none;
    overflow: visible;
    white-space: nowrap;
}

#calendar-header > button, #calendar-header > div > * {
    margin: 0 0.4rem;
}

.calendar-arrow {
    background-image: url(/assets/elements/arrow.svg?v=1);
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    cursor: pointer;
    padding: .5rem;
    background-position: center;
}

#calendar-right-arrow {
    transform: rotate(180deg);
}

#calendar-days {
    display: flex;
    justify-content: space-around;
    margin-bottom: .5rem;
    color: var(--text);
    font-weight: bold;
}

#calendar-days>span, .calendar-case {
    width: calc(100% / 7);
    max-width: calc(3rem - 2px);
    margin: 0.25rem;
    text-align: center;
    border: 1px solid transparent;
}

.republican-calendar-days>span, .republican-calendar-case {
    width: calc(100% / 10);
}

/* Grid */

#calendar-content {
    z-index: 3;
    position: absolute;
    top: 4rem;
    left: 0;
    width: 24.5rem;
    margin: 0 calc((100% - 24.5rem) / 2);
    background-color: var(--closer-background);
    padding-bottom: .5rem;
    border-radius: 0 0 1rem 1rem;
}

:root[data-theme="light"] #calendar-content {
    box-shadow: 0 .5rem .5rem rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 1000px) {
    #calendar-content {
        width: 100%;
        margin: 0;
    }
}

.calendar-week {
    line-height: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media screen and (min-width: 24.5rem) {
    .calendar-week, #calendar-days {
        justify-content: center;
    }
}

/* Case */

.calendar-case {
    aspect-ratio: 1 / 1;
    border-radius: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    transition: 0.1s background-color;
    color: var(--text);
}

.calendar-case-disabled {
    cursor: not-allowed;
}

.calendar-case:hover {
    background-color: var(--background);
}

#calendar-case-selected {
    border: 1px solid var(--primary);
    background-color: var(--primary);
    color: var(--light-text);
}

#calendar-case-today {
    border: 1px solid var(--primary);
    color: var(--primary);
}

/* Bottom */

#other-calendar-day {
    text-align: center;
    font-size: .95rem;
}
