#tabbar {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 4rem;
    width: 100%;
    background-color: var(--closer-background);
    display: flex;
    z-index: 999;
}

#tabbar-space {
    height: 4rem;
}

.tabbar-selected>img:last-child {
    display: none;
}

.tabbar-not-selected>img:first-child {
    display: none;
}

:root[data-theme="dark"] .tabbar-not-selected>img:last-child {
    filter: invert(1);
}

#tabbar>button {
    all: unset;
    display: block;
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

#tabbar>button>img {
    width: 2rem;
    aspect-ratio: 1 / 1;
}
