#survey {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    --border-color: #bbb;
}

:root[data-theme="dark"] #survey {
    --border-color: #666;
}

.survey-line {
    width: 92%;
    height: 1px;
    margin: 0 4%;
    background-color: var(--border-color);
}

#survey-top {
    width: 100%;
    padding: 1rem 0;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#survey-progress-bar {
    height: .75rem;
    width: 50%;
    box-sizing: border-box;
    border: 1px solid var(--primary);

    margin-top: .5rem;
    border-radius: .375rem;
    overflow: hidden;
}

#survey-progress-bar>div {
    height: 100%;
    background-color: var(--primary);
    transition: width .3s ease;
}

#survey-content {
    width: 100%;
    flex-grow: 1;
    position: relative;
    display: flex;
    transition: right .3s ease;
}

.survey-slide {
    width: 100%;
    height: calc(100% - 4rem);
    padding: 2rem 4vw;
}

/* General */

.survey-slide label {
    cursor: pointer;
}

/* Text Input */

.survey-slide > textarea {
    margin-top: .5rem;
    border-radius: .3rem;
    background-color: var(--day);
    color: var(--text);
    border: 1px solid var(--border-color);
}

/* Checkbox */

.survey-checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.survey-checkbox input {
    display: none;
}

.survey-checkbox label {
    display: block;
}

.survey-checkbox .survey-checkbox-box {
    width: 1rem;
    height: 1rem;
    margin-right: .5rem;
    border-radius: 2px;
    border: 2px solid var(--primary);
    position: relative;
}

.survey-checkbox .survey-checkbox-box:after {
    width: .35rem;
    height: 0.7rem;
    box-sizing: border-box;
    position: absolute;
    top: 1px;
    left: 0.3rem;
    content: '';
    transform: rotate(45deg) scale(0);
    transition: transform .3s ease;
    border-bottom: 2px solid var(--background);
    border-right: 2px solid var(--background);
}

.survey-checkbox input[type=checkbox]:checked ~ .survey-checkbox-box {
    background-color: var(--primary);
    animation: 400ms ease 3.71747ms 1 normal none running wiggle;
}

.survey-checkbox input[type=checkbox]:checked ~ .survey-checkbox-box:after {
    transform: rotate(45deg) scale(1);
}

@keyframes wiggle {
	from {
		-webkit-transform: scale(1, 1);
		transform: scale(1, 1);
	}
	30% {
		-webkit-transform: scale(1.25, .75);
		transform: scale(1.25, .75);
	}
	40% {
		-webkit-transform: scale(.75, 1.25);
		transform: scale(.75, 1.25);
	}
	50% {
		-webkit-transform: scale(1.15, .85);
		transform: scale(1.15, .85);
	}
	65% {
		-webkit-transform: scale(.95, 1.05);
		transform: scale(.95, 1.05);
	}
	75% {
		-webkit-transform: scale(1.05, .95);
		transform: scale(1.05, .95);
	}
	to {
		-webkit-transform: scale(1, 1);
		transform: scale(1, 1);
	}
}

/* Survey select */

.survey-radio>input {
    display: none;
}

.survey-radio {
    display: block;
}

.survey-radio>div {
    border: 1px solid var(--border-color);
    padding: 0.25rem 0.5rem;
    margin: 0.5rem 0;
    border-radius: 0.25rem;
}

.survey-radio>input:checked ~ div {
    color: var(--primary);
    border: 1px solid var(--primary);
    font-weight: bold;
}

/* Survey footer */

#survey-bottom {
    width: 100%;
    height: 4rem;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#survey-bottom>button:first-child {
    margin: 0 1% 0 2%;
}

#survey-bottom>button:last-child {
    margin: 0 2% 0 1%;
}

textarea.survey-input {
    outline: none;
    resize: vertical;
    width: 100%;
}
