.logout-button {
    color: var(--text);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    cursor: pointer;
}

.logout-button > img {
    margin-left: 1.2rem;
    height: 2rem;
    width: 2rem;
}

:root[data-theme="dark"] .logout-button img {
    filter: invert(1);
}

/* Titles */

#settings-main h2 {
    text-align: center;
    font-size: 2rem;
    margin: 1.8rem 0;
}

#settings-container h3 {
    text-align: center;
    font-weight: bold;
    font-size: 1.6rem;
}

#settings-container h4 {
    font-size: 1.3rem;
}

/* Containers */

#settings-container  {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 2rem;
}

#settings-main section {
    width: 50%;
    padding-left: 5%;
}

#settings-main section:first-child {
    border-right: 2px solid var(--closer-background);
}

.settings-group {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* Setting */

.setting {
    padding: 1.5rem;
    min-height: 6.5rem;
}

.setting > p {
    min-height: 2rem;
}

.setting .glider-selector {
    margin: 1rem 0;
}

/* Buttons */

#settings-main .primary-button, #settings-main .secondary-button {
    max-width: 20rem;
}

#auth .primary-button, #auth .secondary-button {
    width: min-content;
    min-width: 8rem;
}

#settings-main >.primary-button, #settings-main>.secondary-button {
    margin: 1.2rem auto;
}

/* /change-data tweaks (TODO: remove from here) */

:root[data-theme="light"] #auth .dropdown-list-missing {
    color: #666;
}
:root[data-theme="dark"] #auth .dropdown-list-missing {
    color: #bbb;
}

#change-data-msg {
    width: 100%;
}

@media all and (max-width: 800px){
    .settings-group {
        align-items: center;
    }
    
    #settings-container {
        padding: .6rem 10%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #settings-container > section {
        width: 100%;
        padding: 0;
    }

    .setting {
        padding: 1.5rem 0;
        text-align: center;
        width: 100%;
        flex-direction: column;
        display: flex;
        align-items: center;
    }

    .setting > .primary-button, .setting > .secondary-button {
        max-width: unset;
    }

    #settings-main > .primary-button, #settings-main > .secondary-button {
        width: calc(80% - 5rem - 4px);
    }

    #settings-main section:first-child {
        border-right: none;
    }

    .logout-button > span {
        display: none;
    }

    #auth .primary-button, #auth .secondary-button {
        width: calc(100% - 5rem);
    }
}
