<div id="calendar">
    <div id="calendar-header">
        <button class="calendar-arrow" onclick=[onclick_previous]></button>
        <span id="calendar-title">[display_month]</span>
        <button class="calendar-arrow" onclick=[onclick_next] id="calendar-right-arrow"></button>
    </div>
    <div id="calendar-content">
        <div id="calendar-days">
            <span>Lun</span>
            <span>Mar</span>
            <span>Mer</span>
            <span>Jeu</span>
            <span>Ven</span>
            <span>Sam</span>
            <span>Dim</span>
        </div>
        <div iter id="week[week_iter]" class="calendar-week">
            [cases_iter]
        </div>
    </div>
</div>
