.event {
    width: inherit;
    color: var(--text);
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 0.3rem;
    font-size: .95rem;
    transition: filter .2s ease;
    position: absolute;
}

.event-comment-count {
    position: absolute;
    bottom: .5rem;
    right: .5rem;
    background-color: var(--primary);
    padding: .1rem .4rem;
    border-radius: .2rem;
    color: white;
    font-weight: bold;
}

.seen-event-comment-count {
    color: black;
    background-color: #ffffff88;
    font-weight: normal;
}

:root[data-theme="dark"] .event {
    font-weight: bold;
}

.event-container {
    width: 100%;
    height: 100%;
    padding: 0.2rem;
    box-sizing: border-box;
    position: inherit;
    z-index: 2;
}

.event-container span {
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    max-height: 2.2rem;
    column-width: 50rem;
}

/* Mobile view */

@media screen and (max-width: 1000px) {
    .event {
        width: 100%;
    }

    .event:active {
        filter: brightness(0.8);
    }
}

.barley-sugar:first-child {
    background-image: url("/agenda/images/advent/barley_sugar.png");
    background-repeat: no-repeat;
    background-size: 2.5rem;
    background-position: calc(100% - 0.3rem) center;
}

.sock:nth-child(2) {
    background-image: url("/agenda/images/advent/sock.svg");
    background-repeat: no-repeat;
    background-size: 4.5rem;
    background-position: calc(100% - 0.3rem) center;
}
