/* Header */

header {
    height: 4rem;
}

#header-logo {
    aspect-ratio: 1 / 1;
}

@media screen and (max-width: 420px) and (min-width: 400px) {
    #calendar-header>div>span {
        font-size: 1.25rem !important;
    }
}
@media screen and (max-width: 400px) {
    #calendar-header>div>span {
        font-size: 1rem !important;
    }
}
@media screen and (max-width: 360px) {
    #calendar-header>div>img {
        display: none;
    }
}
@media screen and (max-width: 300px) {
    #header-logo:first-child {
        display: none;
    }
}

/* Main section */

body {
    background-color: var(--background);
}

:root {
    color: var(--text);
}

#agenda-main {
    display: flex;
    justify-content: space-around;
    height: calc(100vh - 4rem);
    min-height: 35rem;
}

#agenda, #option {
    height: calc(100% - 2rem);
    padding: 1rem;
}

/* Option */

#option {
    width: min-content;
}

#option-header {
    margin-bottom: 1rem;
    width: 100%;
    height: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    place-content: flex-end;
}

#option-header span {
    font-weight: bold;
    color: var(--text);
}

.divider-bar-option {
    background-color: var(--primary);
    height: 3px;
    width: 48px;
    border-radius: 3px;
    margin-top: 3px;
}

/* Misc */

:root[data-theme="dark"] .invert-when-dark {
    filter: invert(1);
}

/* For mobile */

@media screen and (max-width: 1000px) {
    #option {
        display: none;
    }

    #day-container {
        width: 500%;
        transition: right 0.3s ease-out;
        will-change: right;
    }

    #agenda-main {
        flex-direction: column;
        justify-content: flex-start;
    }
    
    #agenda-top {
        width: 100%;
        align-self: center;
        justify-content: space-between;
    }

    #agenda-top>span {
        display: none;
    }

    #agenda-top>#selected-day {
        display: inline;
        text-align: center;
    }
}
