/* Colors */

:root {
    --border-color: #aaa;
}

:root[data-theme="dark"] {
    --border-color: #666;
}

/* Header */

header, #tabbar {
    height: 4rem;
}

#header-logo {
    aspect-ratio: 1 / 1;
}

@media screen and (max-width: 420px) and (min-width: 400px) {
    #calendar-header>div>span {
        font-size: 1.25rem !important;
    }
}
@media screen and (max-width: 400px) {
    #calendar-header>div>span {
        font-size: 1rem !important;
    }
}
@media screen and (max-width: 360px) {
    #calendar-header>div>img {
        display: none;
    }
}
@media screen and (max-width: 300px) {
    #header-logo:first-child {
        display: none;
    }
}

/* Panel */

#panel {
    position: fixed;
    top: 0;
    left: -4rem;
    width: calc(100% + 4rem);
    height: 100%;
    background-color: #00000088;
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#panel>div {
    background-color: var(--closer-background);
    box-shadow: 0 0 1rem #00000055;
    border: 1px solid var(--border-color);
    border-radius: .3rem;
    width: 60%;
}

@media screen and (max-width: 1000px) {
    #panel {
        left: unset;
        width: 100%;
    }

    #panel>div {
        width: calc(100% - 2rem);
    }
}

/* Main section */

body {
    background-color: var(--background);
}

:root {
    color: var(--text);
}

#agenda-main {
    display: flex;
    justify-content: space-around;
    height: calc(100vh - 4rem); /* Desktop only, cf below */
    min-height: 30rem;
}

#agenda {
    height: calc(100% - 2rem);
    padding: 1rem;
}

/* Misc */

:root[data-theme="dark"] .invert-when-dark {
    filter: invert(1);
}

/* For mobile */

@media screen and (max-width: 1000px) {
    #day-container {
        width: 500%;
        transition: right 0.3s ease-out;
        will-change: right;
    }

    #agenda-main {
        flex-direction: column;
        justify-content: flex-start;
        height: calc(100vh - 8rem);
    }
    
    #agenda-top {
        width: 100%;
        align-self: center;
        justify-content: space-between;
    }

    #agenda-top>span {
        display: none;
    }

    #agenda-top>#selected-day {
        display: inline;
        text-align: center;
    }

    .primary-button:hover, .secondary-button:hover {
        transform: unset;
        box-shadow: unset;
    }
}
