/* Header */

header {
    display: flex;
    justify-content: space-between;
    height: 4vh;
    min-height: calc((30rem / 94) * 4);
}

header>a>img {
    width: 50%;
}

header>h1 {
    padding: 0;
    margin: 0;
}

/* Main section */

body {
    background-color: var(--dp00);
}

#calendar-main {
    display: flex;
    justify-content: space-around;
    height: calc(96vh - 1rem);
    padding: .5rem;
    min-height: 30rem;
}

/* Section in calendar */

#calendar, #option {
    box-shadow: 0px 0px 15px #00000029;
    min-height: 80vh;
    padding: .75rem;
    margin: .5rem;
    border-radius: .5rem;
    background-color: var(--dp01);
}

/* Section option */

#option {
    width: min-content;
}

/* Calendar */

#calendar {
    flex-grow: 1;
    display: flex;
}

#calendar-hours {
    display: flex;
    flex-direction: column;
    margin: calc(2rem - 0.7rem/2) 0 0 0;
}

#calendar-hours>span {
    max-width: 70px;
    height: calc((100% - 0.7rem/2) / 44100 * 6300);
    font-size: .7rem;
    color: var(--calendar-text);
}

#input-date {
    margin: 0 auto;
    width: 100%;
}


/* Lines */

#line-container {
    position: absolute;
    height: 100%;
    width: 99%;
    margin: 0 0.5%;
}

.line {
    height: calc(100% / 44100 * 6300);
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    top: 1px;
}

.line>div {
    width: 100%;
    height: 2px;
    background-image: url(http://localhost:8080/assets/elements/line-border.svg);
    background-position: bottom;
    background-size: 17px 2px;
    background-repeat: repeat-x;
}

#calendar-main-part {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#calendar-top {
    display: flex;
    height: 2rem;
}

#calendar-top>span, #mobile-day-name {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 5px;
    align-items: center;
    color: var(--calendar-text);
}

#mobile-day-name {
    display: none;
    color: var(--calendar-text);
    text-decoration: none;
}

#day-container {
    display: flex;
    height: 100%;
    position: relative;
}

.day {
    height: 100%;
    width: 19%;
    margin: 0 .5%;
    background-color: var(--dp02);
}

.event {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: inherit;
    color: black;
    font-size: 0.8rem;
    cursor: pointer;
}

#calendar-arrow-right {
    transform: rotate(180deg);
}

/* Event details */

.event-details {
    width: 214px;
    min-height: 346px;
    position: absolute;
    background-color: var(--dp06);
    top: 0;
    right: -214px;
    border-radius: 1rem;
    box-shadow: 0px 3px 6px #00000029;
    z-index: 4;
    cursor: auto;
    text-align-last: start;
    text-align: start;
}

.event-details-header {
    min-height: 1.4rem;
    padding: .3rem .5rem;
    background-color: #98fb98;
    border-radius: 1rem 1rem 0 0;
    font-weight: 500;
    display: flex;
    place-content: center;
    align-items: center;
}

.event-details-content {
    margin: .6rem .75rem;
    color: var(--text);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.event-details-content .bold {
    font-weight: bold;
}

.event-details-title {
    font-size: 1.05em;
    color: var(--title-color);
}

.event-details-results {
    margin: 5px 0 8px 3px;
    color: var(--input-text);
    font-size: 1em;
}

/* Option */

#option {
    padding: .8rem;
}

#option-header {
    width: 100%;
    height: 52px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    place-content: flex-end;
}

#option-header span {
    font-size: 16px;
    font-weight: bold;
    color: var(--calendar-text);
}

.divider-bar-option {
    background-color: var(--red);
    height: 3px;
    width: 48px;
    border-radius: 3px;
    margin: 3px 0 0 0;
}

/* Calendar */

#small-calendar {
    width: min-content;
    border-radius: 1rem;
    box-shadow: 0px 3px 6px #00000029;
    background-color: var(--dp02);
}

#calendar-header {
    width: 100%;
    height: 2rem;
    background-color: var(--red);
    border-radius: 1rem 1rem 0 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.calendar-arrow {
    background-image: url(http://localhost:8080/assets/elements/calendar-arrow.png.svg);
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    cursor: pointer;
    padding: .5rem;
    background-position: center;
}

#calendar-title {
    color: white;
    min-width: 60%;
    font-size: 0.8rem;
    text-align: center;
    user-select: none;
    overflow: visible;
    white-space: nowrap;
}

#calendar-right-arrow {
    transform: rotate(180deg);
}

#calendar-content {
    margin: 0 .4rem;
}

#calendar-days {
    display: flex;
    justify-content: space-around;
    font-size: 0.7rem;
    margin: 2px 0 7px 0;
    color: var(--title-color);
    font-weight: 500;
}

.calendar-case {
    width: 1rem;
    height: 1rem;
    padding: .2rem;
    cursor: pointer;
    text-align: center;
    border-radius: 15px;
    transition: 0.1s background-color;
    color: var(--text);
}

.calendar-case:hover {
    background-color: var(--dp24);
}

#selected-calendar-case {
    background-color: var(--red);
    color: white;
}

.calendar-week {
    width: 14rem;
    height: 2rem;
    font-size: 0.8rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: #555 solid 1px;
}

.calendar-week:last-child {
    border: none;
}

/* For mobile */

@media screen and (max-width: 1000px) {
    #calendar {
        width: 95%;
    }

    #option {
        display: none;
    }

    .event-details {
        right: inherit;
        top: 5rem;
    }

    #day-container {
        width: 500%;
        transition: transform 0.3s ease-out;
        transform: translateX(0);
        will-change: transform;
    }

    #calendar-main-part {
        overflow: hidden;
    }

    /*#calendar-arrow-left, #calendar-arrow-right {
        background-image: url(http://localhost:8080/assets/elements/red-arrow.svg);
        height: 18px;
        width: 11px;
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }

    #calendar-top {
        align-self: center;
        margin: 0;
        height: 2rem;
        width: 100%;
        justify-content: space-between;
    }*/
}