#agenda {
    flex-grow: 1;
    display: flex;
}

#agenda-main-part {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* Hours */

#agenda-hours {
    display: flex;
    flex-direction: column;
    margin: calc(2rem - 0.7rem/2) 2px 0 0;
}

#agenda-hours>span {
    height: calc((100% - 0.7rem/2) / 44100 * 6300);
    font-size: .7rem;
    color: var(--text);
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}



/* Arrows */

#agenda-arrow-left, #agenda-arrow-right {
    display: none;
}

#agenda-arrow-right {
    transform: rotate(180deg);
}

@media screen and (max-width: 1000px) {
    #agenda-arrow-left, #agenda-arrow-right {
        display: initial;
        cursor: pointer;
        width: 4rem;
        height: 4rem;
        flex-shrink: 0;
        position: relative;
        bottom: 1.5rem;
    }
    
    #agenda-arrow-left>div, #agenda-arrow-right>div {
        background: url(/assets/elements/arrow.svg) center no-repeat;
        filter: invert(79%) sepia(71%) saturate(5902%) hue-rotate(241deg) brightness(97%) contrast(85%) ; 
        width: 100%;
        height: 100%;
    }

    #day-container {
        touch-action: none;
    }
}

/* Top */

#agenda-top {
    display: flex;
    height: 2rem;
}

#agenda-top>span {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 5px;
    text-align: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: var(--text);
}

/* Days */

#day-container-scope {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

#day-container {
    display: flex;
    position: relative;
    height: 100%;
}

.day {
    height: 100%;
    width: 19%;
    margin: 0 .5%;
    background-color: var(--day);
}

#settings-button{
    background-image: url('images/settings.svg');
    background-size: 100%;
    background-color: transparent;
    margin-right: 2rem;
    width: 2rem;
    height: 2rem;
    border: none;
    cursor: pointer;
}
:root[data-theme="dark"] #settings-button{
    filter: invert(1);
}


