/* Header */

#calendar-header {
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#calendar-header > div {
    height: 4rem;
    display: flex;
    align-items: center;
}

#calendar-header > button, #calendar-header > div > * {
    margin: 0 0.4rem;
}

#calendar-title {
    font-size: 1.5rem;
    cursor: pointer;
    user-select: none;
    overflow: visible;
    white-space: nowrap;
}

.calendar-arrow {
    background-image: url(/assets/elements/arrow.svg);
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    cursor: pointer;
    padding: .5rem;
    background-position: center;
}

#calendar-right-arrow {
    transform: rotate(180deg);
}

#calendar-days {
    display: flex;
    justify-content: space-around;
    margin: 2px 0 7px 0;
    color: var(--text);
    font-weight: 500;
}

#calendar-days>span {
    margin: 0 5px;
}

#open-calendar {
    cursor: pointer;
}

/* Grid */

#calendar-content {
    z-index: 1;
    position: absolute;
    top: 4rem;
    background-color: var(--closer-background);
    border-radius: 0 0 1rem 1rem;
}

:root[data-theme="light"] #calendar-content {
    box-shadow: 0 .5rem .5rem rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 1000px) {
    #calendar-content {
        position: absolute;
        top: 4rem;
        left: 0;
        width: 100%;
    }
}

.calendar-week {
    line-height: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: var(--closer-background) solid 1px;
}

.calendar-week:last-child {
    border: none;
}

/* Case */

.calendar-case {
    width: calc(100% / 7);
    max-width: 2.5rem;
    aspect-ratio: 1 / 1;
    border-radius: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    transition: 0.1s background-color;
    color: var(--text);
}

.disabled {
    color: var(--);
    cursor: not-allowed;
}

.calendar-case:hover {
    background-color: var(--dp24);
}

#selected-calendar-case {
    background-color: var(--primary);
    color: var(--text);
}

#calendar-arrow-right {
    transform: rotate(180deg);
}
