/* Colors */

:root{
    --red: #E93329;
    --black: #222222;
    --dark_grey: #444444;
    --grey: #F0F0F0;
    --white: #FFFFFF;
    --background: #F0F0F0;
    --title-color: #000000;
    --header-color: #FFFFFF;
    --input-color: #FFFFFF;
    --input-text: #44444499;
    --calendar-color: #FFFFFF;
    --calendar-text: #444444;
}

/* Dark theme */

@media (prefers-color-scheme: dark) {
    :root{
        --background: #2E2E2E;
        --title-color: #FFFFFF;
        --header-color:#242424;
        --input-color: #242424;
        --input-text: #ffffff99;
        --calendar-color: #242424;
        --calendar-text: #E3E3E3;
    }
}

/* General */

html, body {
    margin: 0;
    padding: 0;
}

/* Buttons */

.big-red-button, .big-white-button {
    border-radius: 1rem;
    text-align: center;
    cursor: pointer;
    transition: all .2s;
    font-size: 1.1rem;
}

.big-red-button {
    line-height: 2rem;
    height: 2rem;
    background-color:  var(--red);
    color: white;
}

.big-white-button {
    line-height: calc(2rem - 4px);
    height: calc(2rem - 4px);
    border: 2px solid var(--red);
    color: var(--red);
}

.big-red-button:hover, .big-white-button:hover {
    font-size: 1.2rem;
}

.big-white-button:hover {
    background-color:  var(--red);
    color: white;
}

.small-button {
    width: min-content;
    padding: 0 1rem;
}

.small-button:hover {
    font-size: 1.1rem;
}

/* Glider selector */

.glider-selector {
    position: relative;
	display: flex;
	flex-direction: row;
	width: fit-content;
	background-color: var(--background);
	border-radius: 1rem;
}

.glider-selector>div {
	padding: .5rem 1rem;
	border-radius: 1rem;
	z-index: 2;
    cursor: pointer;
    transition: all .5s;
}

#glider-selected {
	position: absolute;
	color: transparent;
	background-color: var(--red);
	border-radius: 1rem;
    height: 1rem;
}
