.event {
    width: inherit;
    color: var(--text);
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 0.3rem;
    font-size: .95rem;
    transition: filter .2s ease;
}

:root[data-theme="dark"] .event {
    font-weight: bold;
}

.event-container {
    width: 100%;
    height: 100%;
    padding: 0.2rem;
    box-sizing: border-box;
}

.event-container span {
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    max-height: 2.2rem;
    column-width: 50rem;
}

/* Event details */

.event-details {
    width: calc(214px - 2.2rem); /* ALED */
    font-size: 1rem;
    position: relative;
    top: -100%;
    background-color: var(--closer-background);
    color: var(--text);
    border-radius: 1rem;
    box-shadow: 0px 0.8rem 0.8rem #00000029;
    padding: 1.1rem;
    color: var(--text);
    z-index: 4;
    cursor: auto;
    text-align: start;
}

.event-details h3 {
    font-size: 1.2rem;
    margin-bottom: 0;
    font-weight: bold;
    text-align: center;
}

.event-details > .divider-bar-option {
    margin: 0.1rem auto;
}

.event-details span {
    font-size: 1rem;
    font-weight: normal;
}

.event-details h4 {
   margin: 0.325rem 0;
}

.event-details-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.info-block {
    margin-top: .4rem;
}

.hide {
    display: none;
}

.close-arrow {
    display: block;
    top: 0px;
    right: 50%;
    transform: translateX(50%);
    position: absolute;
    cursor: pointer;
}

/* Mobile view */

@media screen and (max-width: 1000px) {
    .event-details {
        position: fixed;
        top: unset;
        bottom: 0px;
        right: 0px !important;
        min-height: 30%;
        padding: 1.4rem;
        width: calc(100% - 2.8rem ); /* Remove padding width */
        border-radius: 0.6rem 0.6rem 0 0;
        box-shadow: 0px -0.8rem 0.8rem #00000029;
    }

    .event-details h3 {
        margin-top: 0.6rem;
    }

    .event {
        width: 100%;
    }

    .event:active {
        filter: brightness(0.8);
    }
}
