.event {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: inherit;
    color: black;
    cursor: pointer;
}

/* Event details */

.event-details {
    width: 214px;
    font-size: 1rem;
    position: absolute;
    background-color: var(--dp06);
    top: 0;
    right: -214px;
    border-radius: 1rem;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid var(--dp01);
    z-index: 4;
    cursor: auto;
    text-align-last: start;
    text-align: start;
}

.event-details-header {
    min-height: 1.4rem;
    background-color: #98fb98;
    border-radius: 1rem 1rem 0 0;
    font-weight: 500;
    display: flex;
    place-content: center;
    align-items: center;
    padding: .3rem;
}

.event-details-content {
    margin: .6rem .75rem;
    color: var(--text);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.event-details-content .bold {
    font-weight: bold;
}

.event-details-title {
    font-size: 1.05em;
    color: var(--title-color);
}

.event-details-results {
    margin: 5px 0 8px 3px;
    color: var(--input-text);
    font-size: 1em;
}

/* Interactive parts */

.bottom-buttons {
    margin-top: 2rem;
    min-height: 1rem;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.bottom-buttons>div {
    cursor: pointer;
    margin-bottom: 2px;
    border-bottom: 1px solid transparent;
}

.bottom-buttons>div>img {
    margin-left: .4rem;
    height: 1rem;
    filter: invert(1);
    vertical-align: text-bottom;
}

.bottom-buttons>div:hover {
    color: var(--red);
    border-bottom: 1px solid var(--red);
}

.color-editor-popup>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottom-buttons>div:hover>img {
    filter: invert(43%) sepia(23%) saturate(2808%) hue-rotate(328deg) brightness(83%) contrast(103%);
}

/* Mobile view */

@media screen and (max-width: 1000px) {
    .event-details {
        right: inherit;
        top: 50%;
        transform: translateY(-50%);
        position: fixed;
        height: 80%;
        width: 20%;
        max-width: 32rem;
    }

    .event {
        width: 100%;
    }

    .event-details-content{
        font-size: 1.6rem;
    }

    .event-details-header{
        height: 8%;
        font-size: 1.6rem;
        font-weight: bold;
        padding: 1rem;
    }
}
