/* Glider selector */

.glider-selector {
    position: relative;
    display: flex;
    flex-direction: row;
    width: fit-content;
    border-radius: 1rem;
    background-color: var(--closer-background);
}


.glider-selector>div {
    padding: .5rem 1rem;
    border-radius: 1rem;
    z-index: 2;
    cursor: pointer;
    transition: all .5s;
}

#glider-selected {
    position: absolute;
    color: transparent;
    background-color: var(--primary);
    border-radius: 1rem;
    height: calc(1rem + 2px);
}
