/* Glider selector */

.glider-selector {
    position: relative;
    display: flex;
    flex-direction: row;
    width: fit-content;
    border-radius: 2rem;
    background-color: var(--closer-background);
    height: 2.5rem;
}


.glider-selector>div {
    padding: 0 1rem;
    margin: auto;
    border-radius: 1.25rem;
    z-index: 2;
    cursor: pointer;
    transition: all .5s;
}

#glider-selected {
    position: absolute;
    color: transparent;
    background-color: var(--primary);
    border-radius: 1.25rem;
    height: 2.5rem;
}

/* Big and large variants */

.big-glider-selector {
    height: 3.5rem;
}

.big-glider-selector>#glider-selected {
    height: 3.5rem;
    border-radius: 1.75rem;
}

.large-glider-selector {
    width: 100%;
}

.large-glider-selector>div {
    flex-grow: 1;
    text-align: center;
}
