/* Header */

header {
    height: 4rem;
}

/* Main section */

body {
    background-color: var(--background);
}

:root {
    color: var(--text);
}

#agenda-main {
    display: flex;
    justify-content: space-around;
    height: calc(100vh - 4rem);
    min-height: 35rem;
}

#agenda {
    height: calc(100% - 2rem);
    padding: 1rem;
}

/* For mobile */

@media screen and (max-width: 1000px) {
    #day-container {
        width: 500%;
        transition: right 0.3s ease-out;
        will-change: right;
    }

    #agenda-main {
        flex-direction: column;
        justify-content: flex-start;
    }
    
    #agenda-top {
        width: 100%;
        align-self: center;
        justify-content: space-between;
    }

    #agenda-top>span {
        display: none;
    }

    #agenda-top>#selected-day {
        display: inline;
        text-align: center;
    }
}
