.logout-button{
    color: var(--text);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    cursor: pointer;
}

.logout-button > img{
    margin-left: 1.2rem;
    height: 2rem;
    width: 2rem;
}

:root[data-theme="dark"] .logout-button img{
    filter: invert(1);
}

#settings-main h2 {
    text-align: center;
    font-size: 2rem;
    margin: 1.4rem 0;
}

#settings-container  {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 2rem;
}

#settings-container h3 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1.6rem;
}

#settings-container h4 {
    font-size: 1.2rem;
}

#settings-main section{
    width: 50%;
    padding-left: 5%;
}

#settings-main section:first-child{
    border-right: 2px solid var(--closer-background);

}

.settings-group{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.setting .primary-button{
    max-width: 15rem;
}

#settings-main > .primary-button, #settings-main > .secondary-button{
    max-width: 20rem;
}

.setting {
    padding: 1.5rem;
    min-height: 6.5rem;
}

.setting > p{
    height: 2rem;
}

#auth .primary-button, #auth .secondary-button {
    width: min-content;
}

:root[data-theme="dark"] .setting {
    padding: 1.5rem;
}

.setting .glider-selector {
    margin: 31px 0 10px 0;
}

#settings-main > .primary-button, #settings-main > .secondary-button{
    margin: 1.2rem auto;
}

@media screen and (max-width: 800px){
    #settings-container {
        padding: .6rem 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #settings-main section{
        width: 80%;
        padding: 0;
    }

    #settings-main section:first-child{
        border-right: none;
    }

    .logout-button > span{
        display: none;
    }

    #auth .primary-button, #auth .secondary-button {
        width: calc(100% - 5rem);
    }
}
