.pseudo-page-header{
    justify-content: initial !important;
}
#settings-main {
    background-color: var(--dp00);
    margin: 0;
    padding: .6rem 25%;
}

#settings-main>h2 {
    margin: .4rem 0;
}

.settings-group {
    background-color: var(--dp01);
    width: 100%;
    margin: 0 0 1.5rem 0;
    box-shadow: 0px 0px 7px #00000029;
    border-radius: .5rem;
}

.setting {
    padding: 1.5rem;
    border-bottom: 1px solid #ccc;
}

:root[data-theme="dark"] .setting {
    padding: 1.5rem;
    border-bottom: 1px solid #555;
}

.setting:last-child {
    border-bottom: none !important;
}

.setting>h3, .setting>.white-button {
    margin: 0;
}

.setting>.glider-selector {
    margin: .4rem 0;
}

.back-button{
    border: none;
    cursor: pointer;
    background-image: url('/agenda/assets/elements/arrow.svg');
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    display: inline;
    height: 4rem;
    width: 4rem;
    filter: invert(1);

}

:root[data-theme="dark"] .back-button{
    filter: invert(0);
}

@media screen and (max-width: 800px){
    #settings-main {
        padding: .6rem 5%;
    }

}
