#agenda {
    flex-grow: 1;
    display: flex;
}

#agenda-main-part {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* Hours */

#agenda-hours {
    display: flex;
    flex-direction: column;
    margin: calc(2rem - 0.7rem/2) 2px 0 0;
}

#agenda-hours>span {
    height: calc((100% - 0.7rem/2) / 43200 * 6300);
    font-size: .7rem;
    color: var(--text);
}

#agenda-hours>span:last-child {
    height: calc((100% - 0.7rem/2) / 43200 * 5400);
}

/* Arrows */

#agenda-arrow-left, #agenda-arrow-right {
    display: none;
}

#agenda-arrow-right {
    transform: rotate(180deg);
}

@media screen and (max-width: 1000px) {
    #agenda-arrow-left, #agenda-arrow-right {
        display: initial;
        cursor: pointer;
        width: 4rem;
        height: 4rem;
        flex-shrink: 0;
        position: relative;
        bottom: 1.3rem;
    }
    
    #agenda-arrow-left>div, #agenda-arrow-right>div {
        background: url(/assets/elements/arrow.svg?v=1) center no-repeat;
        width: 100%;
        height: 100%;
    }

    .header-agenda {
        display: none;
    }
}

/* Top */

#agenda-top {
    height: 2rem;
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--text);
}

#agenda-top>span {
    width: 100%;
    margin: 0 5px;
}

/* Days */

#day-container-scope {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

#day-container {
    height: 100%;
    display: flex;
    position: relative;
}

.day {
    height: 100%;
    width: calc(100% / 6 - 1%);
    margin: 0 .5%;
    border-radius: 0.3rem;
    background-color: var(--day);
}

@media screen and (max-width: 1000px) {
    .day {
        width: 19%;
    }
}

/* For popup animation on desktop */
@media screen and (min-width: 1001px) {
    #agenda-top>span {
        transition: transform .5s ease, opacity .5s ease;
    }

    #day-container {
        right: 0;
        transition: all .5s ease;
    }

    .day {
        transition: opacity .5s ease;
    }
}
